.clip-sun-page-tool-and-adverts .vis-widget-body iframe {
    margin-top: -82px !important;
    height: calc(100% + 82px + 65px) !important;
    margin-left: -316px !important;
    width: calc(100% + 316px + 350px) !important;
}

/* Adverts on the right are not displayed on mobile devices,
   using media query as defined in
   https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488#file-media-query-css */

/* Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .clip-sun-page-tool-and-adverts .vis-widget-body iframe {
        width: calc(100% + 316px + 50px) !important;
    }
}

/* Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .clip-sun-page-tool-and-adverts .vis-widget-body iframe {
        width: calc(100% + 316px + 50px) !important;
    }
}

/* Large phone screens in Landscape mode */
@media (max-width : 896px) and (min-height: 375px) {
    .clip-sun-page-tool-and-adverts .vis-widget-body iframe {
        width: calc(100% + 316px + 50px) !important;
    }
}
